/* -- Variables -- */
:root {

    /* Colours */
    --white-fonts: #fff;
    --background-main: #000;

    /* Padding */
    --xs-padding: 1rem;
    --s-padding: 2rem;
    --med-padding: 3rem;
    --l-padding: 4rem;
    --xl-padding: 5rem;
}

/* -- Sitewide -- */
* {
    color: var(--white-fonts);
    font-family: 'Inter', sans-serif;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    scroll-behavior: smooth;
}

body {
    background-color: var(--background-main);
}

section {
    height: 100vh;
    overflow: auto;
    margin: 0 auto;
    padding: 0 4rem;
}

.logo {
    width: 30px;
}

    /* Filters */
.invert {
    filter: invert(100);
}

.side-text {
    writing-mode: vertical-lr;
}

.uppercase-text {
    text-transform: uppercase;
}

.outline-text {
    color: var(--background-main);
    text-shadow: -1px 1px 0 #fff,
				  1px 1px 0 #fff,
				 1px -1px 0 #fff,
				-1px -1px 0 #fff;
}

/* Fonts */

h1 {
    font-size: 8rem;
}

/* Grid */

.grid-container {  
    display: grid;
    height: inherit; /* makes grid fill section */
}

.vertical-grid-side { 
    grid-area: vertical-text; 
    justify-self: end;
}

/* Opening Section */

.coverpage .grid-container {
    grid-template-columns: 20fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      ". vertical-text"
      ". vertical-text"
      ". vertical-text";
  }

.coverpage {
    background-image: url(images/red-planet-bg.webp);
    background-size: cover;
    background-repeat: no-repeat;
}
  



  